*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenr{
	width: 100%;
	height: 100px;


}

.bar{
	width: 100%;
	height: 100%;
	background-color: #0f0e0e;
}
h1{
	padding: 25px 0 0 10px;
	color: white;
	display: inline-block;

}

li{
	display: inline-block;
	
	color: white;
	padding-left: 30px;
cursor: pointer;
transition: 1s;
}


.ul-men{
	position: absolute;
	right: 0;
	top: 30px;
}

li:hover{
	cursor: pointer;
	color: rgb(48, 48, 162);
	transition: 1s;
}

.man{
	display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.man1{
	display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: white;
	transform: rotate(50deg);
	position: absolute;
}

.man2{
	display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: white;
	transform: rotate(-50deg);
	

}

.menyu{
	position: absolute;
	top: 30px;
	right: 15px;
	opacity: -1;
	transition: .5s;
}

.menyu2{
	position: absolute;
	top: 40px;
	right: 15px;
	opacity: -1;
	transition: .5s;
}

#m1{
	width: 40px;
	height: 3px;
	margin-left: 30px;

}



#m2{
	width: 33px;
	height: 3px;
	margin-left: 35px;
}

#m3{
	margin-left: 40px;
}



@media(max-width:768px){
	.menyu{
		display: block;
	}

	ul{
		position: absolute;
		left: 0;
		margin-top: 70px;
		background-color: #0f0e0e;
		width: 1;
		transition: 1s;
		z-index: -1;

	
	}
	li{
		display: block;
		margin: 20px auto;
		color: white;
		z-index: 1;
		text-align: center;
		
	}

	.menyu{
		opacity: 1;
	}
}

